@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--Anjoman);
  direction: rtl;
  font-feature-settings: "pnum" on, "lnum" off !important;
}
.container{
  max-width: 1216px;
  padding: 0 1rem;
}